body {
    margin: 0;
    padding: 0;
    background-color: #333;
}
div.content {
    width: 100%;
    margin: 80px 10px 0;
    padding: 0;
}
.headbar {
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    background-color: bisque;
}
#navbar {
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #333;
    display: block;
    z-index: 101;
    transition: 0.3s;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
    & > *:first-child {margin-top: 60px;}
    & li {
        list-style-type: circle;
        margin-left: 10px;
        margin-top: 10px;
        text-decoration: none;
        color: antiquewhite;
        &:hover {
            list-style-type: disc;
            background-color: #444;
        }
        &.flip:hover {
            list-style-type: square;
        }
        & a, span {
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            font-size: inherit;
            padding-left: 10px;
            padding-right: 10px;
            &:hover {
                background-color: brown;
            }
        }
    }
}
.panel {
    display: none;
}
li.active {
    list-style-type: square !important;
}
#navbar.navactive {
    width: 100%;
}

.navtoggle {
    position: fixed !important;
    top: 20px;
    right: 30px;
    z-index: 1000;

}

#navtoggle2 {
  display: block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-225deg);
  background-color: bisque;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(225deg);
  background-color: bisque;
}

@media only screen and (min-width: 900px) {
    #navbar {
        left: 0;
        right: auto;
        width: 30%;
        transition: none;
        font-size: 40px;
        & li {
            margin-left: 20px;
            margin-top: 20px;
        }
    }
    div.content {
        display: block;
        width: 70%;
        margin: 0 0 0 30%;
        overflow: hidden;
    }
    .headbar {
        display: none;
    }
    #navtoggle2.navtoggle {
        display: none;
    }
}